.green{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 90%;
  height: 90%;
  background-color: $-Very-dark-cyan;
  border-radius: 10px;

  // ////////NEED TO ADD A MIXIN AND RE-USE THIS PART///////////
  // ///////////////////////////////////////////////////////////
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  // ///////////////////////////////////////////////////////////

  .toplable{
    color: $-White;
    font-size: 13px;
    margin-left: $-green-margin-left;
    margin-top: 45px;
  }
  .bottonlable{
    color: $-Dark-grayish-cyan2;
    font-size: 10px;
    margin-left: $-green-margin-left;
  }
  button{
    width: 75%;
    margin: auto;
    margin-top: 90px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    background-color: $-Dark-grayish-cyan1;
    color: $-Very-dark-cyan;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
  }
  .returnResult{
    margin: 0;
    padding: 0;
    width: min-content;
    margin-left: 220px;
    font-size: 50px;
    margin-top: -55px;
    color: $-Ligh-grayish-cyan1;
  }
  
}
